[
	{
		"styleName": "Text",
		"styleFlag": 0,
		"r": 1.0,
		"g": 1.0,
		"b": 1.0,
		"a": 1.0
	},
	{
		"styleName": "TextDisabled",
		"styleFlag": 1,
		"r": 0.5,
		"g": 0.5,
		"b": 0.5,
		"a": 1.0
	},
	{
		"styleName": "WindowBg",
		"styleFlag": 2,
		"r": 0.13,
		"g": 0.14,
		"b": 0.15,
		"a": 1.0
	},
	{
		"styleName": "ChildBg",
		"styleFlag": 3,
		"r": 0.13,
		"g": 0.14,
		"b": 0.15,
		"a": 1.0
	},
	{
		"styleName": "PopupBg",
		"styleFlag": 4,
		"r": 0.13,
		"g": 0.14,
		"b": 0.15,
		"a": 1.0
	},
	{
		"styleName": "Border",
		"styleFlag": 5,
		"r": 0.43,
		"g": 0.43,
		"b": 0.5,
		"a": 0.5
	},
	{
		"styleName": "BorderShadow",
		"styleFlag": 6,
		"r": 0.0,
		"g": 0.0,
		"b": 0.0,
		"a": 0.0
	},
	{
		"styleName": "FrameBg",
		"styleFlag": 7,
		"r": 0.25,
		"g": 0.25,
		"b": 0.25,
		"a": 1.0
	},
	{
		"styleName": "FrameBgHovered",
		"styleFlag": 8,
		"r": 0.38,
		"g": 0.38,
		"b": 0.38,
		"a": 1.0
	},
	{
		"styleName": "FrameBgActive",
		"styleFlag": 9,
		"r": 0.67,
		"g": 0.67,
		"b": 0.67,
		"a": 0.39
	},
	{
		"styleName": "TitleBg",
		"styleFlag": 10,
		"r": 0.08,
		"g": 0.08,
		"b": 0.09,
		"a": 1.0
	},
	{
		"styleName": "TitleBgActive",
		"styleFlag": 11,
		"r": 0.08,
		"g": 0.08,
		"b": 0.09,
		"a": 1.0
	},
	{
		"styleName": "TitleBgCollapsed",
		"styleFlag": 12,
		"r": 0.0,
		"g": 0.0,
		"b": 0.0,
		"a": 0.51
	},
	{
		"styleName": "MenuBarBg",
		"styleFlag": 13,
		"r": 0.14,
		"g": 0.14,
		"b": 0.14,
		"a": 1.0
	},
	{
		"styleName": "ScrollbarBg",
		"styleFlag": 14,
		"r": 0.02,
		"g": 0.02,
		"b": 0.02,
		"a": 0.53
	},
	{
		"styleName": "ScrollbarGrab",
		"styleFlag": 15,
		"r": 0.31,
		"g": 0.31,
		"b": 0.31,
		"a": 1.0
	},
	{
		"styleName": "ScrollbarGrabHovered",
		"styleFlag": 16,
		"r": 0.41,
		"g": 0.41,
		"b": 0.41,
		"a": 1.0
	},
	{
		"styleName": "ScrollbarGrabActive",
		"styleFlag": 17,
		"r": 0.51,
		"g": 0.51,
		"b": 0.51,
		"a": 1.0
	},
	{
		"styleName": "CheckMark",
		"styleFlag": 18,
		"r": 0.11,
		"g": 0.64,
		"b": 0.92,
		"a": 1.0
	},
	{
		"styleName": "SliderGrab",
		"styleFlag": 19,
		"r": 0.11,
		"g": 0.64,
		"b": 0.92,
		"a": 1.0
	},
	{
		"styleName": "SliderGrabActive",
		"styleFlag": 20,
		"r": 0.08,
		"g": 0.5,
		"b": 0.72,
		"a": 1.0
	},
	{
		"styleName": "Button",
		"styleFlag": 21,
		"r": 0.25,
		"g": 0.25,
		"b": 0.25,
		"a": 1.0
	},
	{
		"styleName": "ButtonHovered",
		"styleFlag": 22,
		"r": 0.38,
		"g": 0.38,
		"b": 0.38,
		"a": 1.0
	},
	{
		"styleName": "ButtonActive",
		"styleFlag": 23,
		"r": 0.67,
		"g": 0.67,
		"b": 0.67,
		"a": 0.39
	},
	{
		"styleName": "Header",
		"styleFlag": 24,
		"r": 0.22,
		"g": 0.22,
		"b": 0.22,
		"a": 1.0
	},
	{
		"styleName": "HeaderHovered",
		"styleFlag": 25,
		"r": 0.25,
		"g": 0.25,
		"b": 0.25,
		"a": 1.0
	},
	{
		"styleName": "HeaderActive",
		"styleFlag": 26,
		"r": 0.67,
		"g": 0.67,
		"b": 0.67,
		"a": 0.39
	},
	{
		"styleName": "Separator",
		"styleFlag": 27,
		"r": 0.43,
		"g": 0.43,
		"b": 0.5,
		"a": 0.5
	},
	{
		"styleName": "SeparatorHovered",
		"styleFlag": 28,
		"r": 0.41,
		"g": 0.42,
		"b": 0.44,
		"a": 1.0
	},
	{
		"styleName": "SeparatorActive",
		"styleFlag": 29,
		"r": 0.26,
		"g": 0.59,
		"b": 0.98,
		"a": 0.95
	},
	{
		"styleName": "ResizeGrip",
		"styleFlag": 30,
		"r": 0.0,
		"g": 0.0,
		"b": 0.0,
		"a": 0.0
	},
	{
		"styleName": "ResizeGripHovered",
		"styleFlag": 31,
		"r": 0.29,
		"g": 0.3,
		"b": 0.31,
		"a": 0.67
	},
	{
		"styleName": "ResizeGripActive",
		"styleFlag": 32,
		"r": 0.26,
		"g": 0.59,
		"b": 0.98,
		"a": 0.95
	},
	{
		"styleName": "Tab",
		"styleFlag": 33,
		"r": 0.08,
		"g": 0.08,
		"b": 0.09,
		"a": 0.83
	},
	{
		"styleName": "TabHovered",
		"styleFlag": 34,
		"r": 0.33,
		"g": 0.34,
		"b": 0.36,
		"a": 0.83
	},
	{
		"styleName": "TabActive",
		"styleFlag": 35,
		"r": 0.23,
		"g": 0.23,
		"b": 0.24,
		"a": 1.0
	},
	{
		"styleName": "TabUnfocused",
		"styleFlag": 36,
		"r": 0.08,
		"g": 0.08,
		"b": 0.09,
		"a": 1.0
	},
	{
		"styleName": "TabUnfocusedActive",
		"styleFlag": 37,
		"r": 0.13,
		"g": 0.14,
		"b": 0.15,
		"a": 1.0
	},
	{
		"styleName": "DockingPreview",
		"styleFlag": 38,
		"r": 0.26,
		"g": 0.59,
		"b": 0.98,
		"a": 0.7
	},
	{
		"styleName": "DockingEmptyBg",
		"styleFlag": 39,
		"r": 0.2,
		"g": 0.2,
		"b": 0.2,
		"a": 1.0
	},
	{
		"styleName": "PlotLines",
		"styleFlag": 40,
		"r": 0.61,
		"g": 0.61,
		"b": 0.61,
		"a": 1.0
	},
	{
		"styleName": "PlotLinesHovered",
		"styleFlag": 41,
		"r": 1.0,
		"g": 0.43,
		"b": 0.35,
		"a": 1.0
	},
	{
		"styleName": "PlotHistogram",
		"styleFlag": 42,
		"r": 0.9,
		"g": 0.7,
		"b": 0.0,
		"a": 1.0
	},
	{
		"styleName": "PlotHistogramHovered",
		"styleFlag": 43,
		"r": 1.0,
		"g": 0.6,
		"b": 0.0,
		"a": 1.0
	},
	{
		"styleName": "TextSelectedBg",
		"styleFlag": 49,
		"r": 0.26,
		"g": 0.59,
		"b": 0.98,
		"a": 0.35
	},
	{
		"styleName": "DragDropTarget",
		"styleFlag": 50,
		"r": 0.11,
		"g": 0.64,
		"b": 0.92,
		"a": 1.0
	},
	{
		"styleName": "NavHighlight",
		"styleFlag": 51,
		"r": 0.26,
		"g": 0.59,
		"b": 0.98,
		"a": 1.0
	},
	{
		"styleName": "NavWindowingHighlight",
		"styleFlag": 52,
		"r": 1.0,
		"g": 1.0,
		"b": 1.0,
		"a": 0.7
	},
	{
		"styleName": "NavWindowingDimBg",
		"styleFlag": 53,
		"r": 0.8,
		"g": 0.8,
		"b": 0.8,
		"a": 0.2
	},
	{
		"styleName": "ModalWindowDimBg",
		"styleFlag": 54,
		"r": 0.8,
		"g": 0.8,
		"b": 0.8,
		"a": 0.35
	}
]